<h1><%= @doctor.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<br>

<h2>walkin</h2>
<ul>
  <% @walkin.each do |walkin| %>
  <li>
    <%= walkin.patient.full_name %>
    <br>
    <%= link_to 'Remove', doctor_appointment_path(@doctor, walkin), method: :delete %>
  </li>
  <% end %>
</ul>

<h2>urgent</h2>
<ul>
  <% @urgent.each do |urgent| %>
  <li>
    <%= urgent.patient.full_name %>
    <br>
    <%= link_to 'Remove', doctor_appointment_path(@doctor, urgent), method: :delete %>
  </li>
  <% end %>
</ul>
